.git
.github
.next
**/.next
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report
.apifox
**/.apifox
.env
.env.*
!.env.example
*.log
.DS_Store
**/*.tsbuildinfo
